name: Rust CI

on:
  push:
    branches: ["main", "fix/*", "feat/*"]
  pull_request:
    branches: ["main", "fix/*", "feat/*"]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt, clippy

      - name: Check formatting
        run: cargo fmt --all -- --check

      - name: Run cargo check
        run: cargo check --verbose

      - name: Run tests
        run: cargo test --verbose
