name: License Header Check

on:
  push:
    branches: ["main", "fix/*", "feat/*"]
  pull_request:
    branches: ["main", "fix/*", "feat/*"]

jobs:
  check-license:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Check License Header
        uses: apache/skywalking-eyes/header@main
